
body {
    margin:0;
    padding:0;
    background-image:url('http://localhost:5423/Pics/background-2633962_1280.jpg');
    background-size:cover;
    font-family:Tahoma;
}

.loginbox 
{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:350px;
    height:600px;
    padding:80px 40px;
    box-sizing:border-box;
    background:rgb(0,0,0,0.5);
}
.user{
    width:100px;
    height:100px;
    overflow:auto;
    top:calc(-100px/2);
    left:calc(50% -50px);
    position:absolute;
    
    }
h2 {
    padding:0;
    margin:0;
   text-align:center;
   color:rgb(255,217,9);
}

.lblemail, .lblpass {
    font-weight:bold;
    color:#fff;
}

.txtemail{
    width:100%;
    margin-bottom:20px;
}
.txtemail{
    border:none;
    border-bottom:3px solid #fff;
    outline:none;
    height:40px;
    color:black;
    font-size:16px;
    background-color:transparent;
}

.txtpass, .btnsubmit{
    width:100%;
    margin-bottom:20px;
}
.txtpass{
    border:none;
    border-bottom:3px solid #fff;
    outline:none;
    height:40px;
    color:black;
    font-size:16px;
    background-color:transparent;
}
.btnsubmit {
border:none;
outline:none;
height:40px;
font-size:16px;
color:white;
background-color:#8D8DAA;
cursor:pointer;
border-radius:20px;
transition: .3s ease-in-out;
}
